* {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  background-color: #fcf4f3;
}
.title {
  text-align: center;
  margin-top: 4%;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.search-input {
  background-color: #eceff5;
  height: 30px;
  width: 300px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}

.search-button {
  background-color: #ee4f3c;
  color: #ffffff;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 20px;
  padding: 3px 30px;
}

.card-text {
  background-color: #ffffff;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin-top: 1em;
  width: 75vh;
}

.card {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
